from flask import Flask
{% if routes %}
from . import routes
{% endif %}
{% if model %}
from . import model
{% endif %}


def create_app():
    app = Flask(__name__)
{% if routes %}
    routes.init_app(app)
{% endif %}
{% if model %}
    model.init_app(app)
{% endif %}
    return app
